html {
    font-size: 18px;
  }
  body {
    font-family: 'Sawarabi Gothic', sans-serif;
    background-image: url("background.png");
    background-size: cover;
    background-attachment: fixed;
  }

  .roboto{
    font-family: 'Roboto', sans-serif;
  }

  a:hover {
    text-decoration: none;
  }

  h1.main-title {
    font-size:5.0rem;
    margin-bottom: 20px;
    margin-top: 0;
  }

  h5 {
    margin-bottom: 20px;
  }

  .container {
    position: relative;
    height: 100vh;
    .top-main{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
    }
  }


  .btn {
    font-family:inherit;
    font-size: inherit;
    background: #343a40;
    color: white;
    padding: 0.3rem 3.4rem;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    &:hover{
      background-color: lighten(#343a40, 10%);
    }
  }

  .btn:last-child {
    margin: 0;
  }

  .inner {
    margin-left: 24rem;
  }

// ヘルプページCSS
  .helpclass{
    text-align: center;
  }

  .test {
    width: 15%;
    height: auto;
    border: 1px solid #000000;;
  }

  .div_1 {
    float: left;
  }
