@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

$sp_break_point: 576px;

html {
  font-size: 16px;
  @include max-screen($sp_break_point) {
    font-size: 14px;
  }
}
body {
  font-family: 'Sawarabi Gothic', sans-serif;

  &::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: url("background.png");
    background-size: cover;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    @include max-screen($sp_break_point) {
      background-position: center right 20%;
    }
  }
}

  .roboto{
    font-family: 'Roboto', sans-serif;
  }

  a:hover {
    text-decoration: none;
  }

  h1.main-title {
    font-size: 5.0rem;
    margin-bottom: 20px;
    margin-top: 0;
  }

  h5 {
    margin-bottom: 20px;
    @include max-screen($sp_break_point) {
      margin-bottom: 40px;
    }
  }

  .container {
    position: relative;
    height: 100vh;
    .top-main{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      @include max-screen($sp_break_point) {
        top: 20%;
      }
    }
  }


  .btn {
    font-family:inherit;
    font-size: inherit;
    background: #343a40;
    color: white;
    padding: 0.3rem 3.4rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    &:hover{
      background-color: lighten(#343a40, 10%);
    }
    @include max-screen($sp_break_point) {
      padding: 0.8rem 3.4rem;
      width: 80%;
      margin-bottom: 45px;
    }
  }

  .rounded-circle {
    margin-bottom: 0;
    width:4rem;
    height:4rem;
    @include max-screen($sp_break_point) {
      width:4rem;
      height:4rem;
      font-size: 20px;
    }
  }

  #create{
    h2:first-of-type{
      margin-top: 30px;
    }
    h2:nth-of-type(2){
      margin-bottom: 20px;
    }
    .inner {
      #map {
        width: 400px;
        height: 400px;
        margin: auto;
        @include max-screen($sp_break_point) {
          width: 100%;
        }
      }
    }
  }


// ヘルプページCSS
  .helpclass{
    text-align: center;
  }

  .test {
    width: 15%;
    height: auto;
    border: 1px solid #000000;;
  }

  .div_1 {
    float: left;
  }

  h2:first-of-type {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .q-a {
    border-bottom: 2px dashed #000;
    padding: 35px 30px;
    margin-bottom: 0;
    &:first-of-type {
      border-top: 2px dashed #000;
    }

    li {
      font-size: 20px;
      list-style: none;
      position: relative;
      &::before {
        position: absolute;
        left: -1.5rem;
      }
      &:first-of-type{
        margin-bottom: 15px;
        &::before {
          content: "Q.";
          color: red;
        }
      }
      &:last-of-type::before {
        content: "A.";
        color: blue;
      }
      @include max-screen($sp_break_point) {
        font-size: 14px;
      }
    }
  }
