<%= stylesheet_link_tag "home/home", :media => "all" %>
<div class="container" id="create">
  <h2 class="text-center">推奨ルート</h2>
  <div class="card">
    <%= simple_format(@string) %>
  </div>
  <h2 class="text-center">マップ表示</h2>
  <div class="inner">
    <% if @mapnotview.nil? %>
      <div id='map'></div>
    <% end %>
  </div>
  <script>map.js</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRj-HjvK8Jz8IHzMeWkcnhcG1FMpi6aNM&callback=initMap" ></script>
</div>
