<%= stylesheet_link_tag "home/home", :media => "all" %>
<div class="container">
<div style="text-align:center;">
  <br>
  <h1>推奨ルート</h1>
  <div class="no-card">

    <br><br>
    <%= simple_format(@string) %><br>
    </div>

    <h1>マップ表示</h1>
    </div>
    <div class="inner">
    <br>
      <% if @mapnotview.nil? %>
        <div id='map' style="width:400px; height:400px;" ></div>
      <% end %>
    <br><br>
    </div>

  <script>map.js</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRj-HjvK8Jz8IHzMeWkcnhcG1FMpi6aNM&callback=initMap" ></script>
</div>
