<%= stylesheet_link_tag "home/home", :media => "all" %>
<div class="container">
  <h2 class="text-center">あなたの旅行、Mappyで。</h2>
  <ul class="q-a">
    <li>旅行先を決め、巡る場所も決めたのに、<strong>どの順番で行くのが効率的なのか分からない！</strong></li>
    <li>Mappyは、あなたが入力した地点から最適ルートを計算して表示します。</li>
  </ul>
  <ul class="q-a">
    <li>いくつかの地点のうち、<strong>ここだけはこの時間に行きたい</strong>とかもできる？</li>
    <li>地点それぞれに到着したい時刻の指定が可能です。<br>その場合、最短ルートと時間指定の両方を考慮しつつルートを計算します。　
    それぞれに滞在時間を与えることもでき、マップと合わせてあなたの旅行のしおりとなることでしょう。</li>
  </ul>
</div>
