<div class = "helpclass">
<h1>TsuxiIIは、
<font color ="red">時間指定機能</font>
つきルート検索アプリ</h1>

<%= image_tag('origin.png', :class => "test") %>
<!--<font color ="">-->
<h5>①出発地と出発時刻を入力</h5>
<%= image_tag('dest1.png', :class => "test") %>
<h5>②一つ目の目的地、目標到着時刻、予定滞在時間を入力</h5>
<%= image_tag('dest2.png', :class => "test") %>
<h5>③二つ目の目的地、予定滞在時間を入力</h5>

<%= stylesheet_link_tag "home/home", :media => "all" %>