<%= stylesheet_link_tag "home/home", :media => "all" %>
<div class="container">
  <div class = "helpclass">
    <br><br><br>
    <h1><strong>  あなたの旅行、Mappyで。 </strong></h1>
    <br>
    <h1>-----------------------------------------------------------</h1>
    <h4><span style="color:#FF0000;">Q. </span>旅行先を決め、巡る場所も決めたのに、<strong>どの順番で行くのが効率的なのか分からない！</strong></h4>
    <h1>↓<h1>
    <h4><span style="color:#0000FF;">A. </span>Mappyは、あなたが入力した地点から最適ルートを計算して表示します。</h4>
    <h1>-----------------------------------------------------------</h1>
    <br>
    <h4><span style="color:#FF0000;">Q. </span>いくつかの地点のうち、<strong>ここだけはこの時間に行きたい</strong>とかもできる？</h4>
    <h1>↓<h1>
    <h4><span style="color:#0000FF;">A. </span>地点それぞれに到着したい時刻の指定が可能です。<br>その場合、最短ルートと時間指定の両方を考慮しつつルートを計算します。<br>
    それぞれに滞在時間を与えることもでき、マップと合わせてあなたの旅行のしおりとなることでしょう。</h4>
    <h1>-----------------------------------------------------------</h1>
  </div>
</div>
