<%= stylesheet_link_tag "home/home", :media => "all" %>
<div class="container text-center">
  <div class="top-main">
    <h1 class="main-title roboto">Mappy</h1>
    <h5>〜あなたの旅行のために〜</h5>
      <%= link_to new_path do %>
        <button class="btn">検索する</button>
      <% end %>
      <%= link_to help_path do %>
        <button class="btn">使い方</button>
      <% end %>
  </div>
</div>
