<%= stylesheet_link_tag "home/home", :media => "all" %>
<div class="container text-center" id="main-wrap">
  <div class="top-main">
    <h1 class="main-title roboto">Mappy</h1>
    <h5>〜あなたの旅行のために〜</h5><br>
      <%= link_to new_path do %>
        <button class="btn">スタート</button>
      <% end %>
      <%= link_to help_path do %>
        <button class="btn">Mappyとは</button>
      <% end %>
  </div>
</div>
