<div class="modal">
  <br>
  <p class="message"><strong>TsuxiII</strong></p>
  <h5>〜あなたの旅行のために〜</h5>
  <br>
  <div class="options">
    <%= link_to new_path do %>
      <button class="btn">使う</button>
    <% end %>
    <%= link_to help_path do %>
      <button class="btn">使い方</button>
    <% end %>
  </div>
</div>
<%= stylesheet_link_tag "home/home", :media => "all" %>
