/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
*/
$sp_break_point: 576px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@import "bootstrap";

@include max-screen($sp_break_point){
  h2 {
    font-size: 1.3rem;
  }
}

html {
  font-size: 16px;
  @include max-screen($sp_break_point) {
    font-size: 14px;
  }
}

 body{
   font-family: 'Sawarabi Gothic', sans-serif;
 }

 .box-center{
  text-align: center;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.mt-4{
  margin-top: 4rem;
}

// カードデザインCSS
.card {
  margin: 40px auto;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 10px #000000;
  padding: 30px;
  @include max-screen($sp_break_point) {
    width: 100%;
    padding: 15px;
    margin: 25px auto;
  }

  &.mb-80 {
    margin-bottom: 80px;
    @include max-screen($sp_break_point) {
      margin-bottom: 60px;
    }
  }
}

input {
  width: 100%;
  margin-bottom: 28px;
}

input[type="submit"]{
  width: 500px;
  margin-top: 40px;
  padding: 15px;
  @include max-screen($sp_break_point) {
    width: 100%;
  }
}

select {
  margin-bottom: 40px;
}

.no-card {
  margin: 40px auto;
  width: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 50px #000000;
}

// 吹き出しのデザイン
@mixin tooltiptext {
  @include max-screen($sp_break_point) {
    top: -57px;
    right: 0;
    left: 0;
  }
}

@mixin tooltiptext-after {
  @include max-screen($sp_break_point) {
    top: 100%;
    left: 20%;
    margin-left: -5px;
    content: ' ';
    border: 5px solid transparent;
    border-top-color: #33cc99;
  }
}

.cp_tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;

  .cp_tooltiptext {
  	position: absolute;
  	z-index: 1;
  	top: -5px;
  	right: 105%;
  	visibility: hidden;
  	/*width: auto;*/
  	white-space: nowrap;
  	padding: 0.3em 0.5em;
  	transition: opacity 1s;
  	text-align: center;
  	opacity: 0;
  	color: #ffffff;
  	border-radius: 6px;
  	background-color: #33cc99;
    @include tooltiptext;

    &::after {
    	position: absolute;
    	top: 40%;
    	left: 101%;
    	margin-left: -5px;
    	content: ' ';
    	border: 5px solid transparent;
    	border-left-color: #33cc99;
      @include tooltiptext-after;
    }
  }

  &:hover .cp_tooltiptext {
  	visibility: visible;
  	opacity: 1;
  }
}

//吹き出しのデザイン
.cp_tooltip2 {
	position: relative;
	display: inline-block;
	cursor: pointer;

  .cp_tooltiptext2 {
  	position: absolute;
  	z-index: 1;
  	top: -5px;
  	right: 105%;
  	visibility: hidden;
  	/*width: auto;*/
  	white-space: nowrap;
  	padding: 0.3em 0.5em;
  	transition: opacity 1s;
  	text-align: center;
  	opacity: 0;
  	color: #ffffff;
  	border-radius: 6px;
  	background-color: #33cc99;
    @include tooltiptext;

    &::after {
    	position: absolute;
    	top: 40%;
    	left: 101%;
    	margin-left: -5px;
    	content: ' ';
    	border: 5px solid transparent;
    	border-left-color: #33cc99;
      @include tooltiptext-after;
    }
  }

  &:hover .cp_tooltiptext2 {
  	visibility: visible;
  	opacity: 1;
  }
}

//吹き出しのデザイン
.cp_tooltip3 {
	position: relative;
	display: inline-block;
	cursor: pointer;

  .cp_tooltiptext3 {
  	position: absolute;
  	z-index: 1;
  	top: -5px;
  	right: 105%;
  	visibility: hidden;
  	/*width: auto;*/
  	white-space: nowrap;
  	padding: 0.3em 0.5em;
  	transition: opacity 1s;
  	text-align: center;
  	opacity: 0;
  	color: #ffffff;
  	border-radius: 6px;
  	background-color: #33cc99;
    @include tooltiptext;

    &::after {
    	position: absolute;
    	top: 40%;
    	left: 101%;
    	margin-left: -5px;
    	content: ' ';
    	border: 5px solid transparent;
    	border-left-color: #33cc99;
      @include tooltiptext-after;
    }
  }

  &:hover .cp_tooltiptext3 {
  	visibility: visible;
  	opacity: 1;
  }
}

//吹き出しのデザイン
.cp_tooltip4 {
	position: relative;
	display: inline-block;
	cursor: pointer;

  .cp_tooltiptext4 {
  	position: absolute;
  	z-index: 1;
  	top: -5px;
  	right: 105%;
  	visibility: hidden;
  	/*width: auto;*/
  	white-space: nowrap;
  	padding: 0.3em 0.5em;
  	transition: opacity 1s;
  	text-align: center;
  	opacity: 0;
  	color: #ffffff;
  	border-radius: 6px;
  	background-color: #33cc99;
    @include tooltiptext;

    &::after {
    	position: absolute;
    	top: 40%;
    	left: 101%;
    	margin-left: -5px;
    	content: ' ';
    	border: 5px solid transparent;
    	border-left-color: #33cc99;
      @include tooltiptext-after;
    }
  }

  &:hover .cp_tooltiptext4 {
  	visibility: visible;
  	opacity: 1;
  }
}

//吹き出しのデザイン
.cp_tooltip5 {
	position: relative;
	display: inline-block;
	cursor: pointer;

  .cp_tooltiptext5 {
  	position: absolute;
  	z-index: 1;
  	top: -5px;
  	right: 105%;
  	visibility: hidden;
  	/*width: auto;*/
  	white-space: nowrap;
  	padding: 0.3em 0.5em;
  	transition: opacity 1s;
  	text-align: center;
  	opacity: 0;
  	color: #ffffff;
  	border-radius: 6px;
  	background-color: #33cc99;
    @include tooltiptext;

    &::after {
    	position: absolute;
    	top: 40%;
    	left: 101%;
    	margin-left: -5px;
    	content: ' ';
    	border: 5px solid transparent;
    	border-left-color: #33cc99;
      @include tooltiptext-after;
    }
  }

  &:hover .cp_tooltiptext5 {
  	visibility: visible;
  	opacity: 1;
  }
}

//吹き出しのデザイン
.cp_tooltip6 {
	position: relative;
	display: inline-block;
	cursor: pointer;

  .cp_tooltiptext6 {
  	position: absolute;
  	z-index: 1;
  	top: -5px;
  	right: 105%;
  	visibility: hidden;
  	/*width: auto;*/
  	white-space: nowrap;
  	padding: 0.3em 0.5em;
  	transition: opacity 1s;
  	text-align: center;
  	opacity: 0;
  	color: #ffffff;
  	border-radius: 6px;
  	background-color: #33cc99;
    @include tooltiptext;

    &::after {
    	position: absolute;
    	top: 40%;
    	left: 101%;
    	margin-left: -5px;
    	content: ' ';
    	border: 5px solid transparent;
    	border-left-color: #33cc99;
      @include tooltiptext-after;
    }
  }

  &:hover .cp_tooltiptext6 {
  	visibility: visible;
  	opacity: 1;
  }
}

.dropdown {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  color: #6c757d;
}